body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: white;
}
.cabecalho{
    background-color: #141414;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
    gap: 30px;
}
.cabecalho nav{
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.cabecalho nav a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}